form#form337 label#title1,
form#form337 label#title3{
    display: none !important;
}
form#form337 input {
    background-color: #666666 !important;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    border-radius: 0.75em;
    color: #fff;
    background-color: #333;
    border: 0;
    border-radius: 0;
    padding: 0.2rem 1rem 0;
    height: 3.5em;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

form#form337 textarea {
    background-color: #666666 !important;
    padding: 0.2rem 1rem 0;
}

form#form337 li.buttons input {
    background-color: #cc00cc !important;
    color: #fff;
    box-shadow: none;
    outline: 0!important;
    color: #fff;
    letter-spacing: .025em;
    font-size: 1rem;
    line-height: 1;
    display: inline-block;
    border: 0;
    border-radius: 0;
    height: 3.52em;
    background-color: #000;
    text-decoration: none;
    -webkit-transition: all .3s ease-out!important;
    width: 100px;
    transition: all .3s ease-out!important;
}

form#form337 textarea::placeholder {
    color: #fff !important;
}

form#form337 textarea,form#form337 input {
    color: #fff !important;
}
 

label[for="Field1"],label[for="Field2"] {
    display: none;
} 

form#form337 li#fo337li1 span {
    display: inline-block;
    width: 49%;
}

form#form337 header h2 {
    color: #fff !important;
    text-transform: uppercase;
}

input#Field1 {
    padding-right: 0 !important;
    width: 90% !important;
}

form#form337 input::placeholder {
    color: #fff !important;
}